body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  height: 100px;
  width: 100px;
  background: goldenrod;
}

.box:hover {
  transform: rotate(15deg);
  transition: 5s;
}
